<script type="text/template" id="profesorList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
        <u> TEST # 6</u>
    <tr>
		 <th>Name</th>
		 <th>Anios Experiencia</th>
		 <th>Num Publicaciones</th>
		 <th>Fecha Vinculacion</th>
                 <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(profesors, function(profesor) { %>
    <tr>
                <% var x1 = profesor.getDisplay('name'); %>
                <% var x2 = profesor.getDisplay('aniosExperiencia'); %>
                <% var x3 = profesor.getDisplay('numPublicaciones'); %>
                <% var x4= profesor.get('fechaVinculacion');   %>
                <% var y4 = Date.parse(x4.toString()) ;%>
                
		<td><%= htmlEncode(x1) %></td>
		<td><%= htmlEncode(x2) %></td>
		<td><%= htmlEncode(x3) %></td>
		<td><%= htmlEncode(x4) %></td>
		<td><a onclick="Backbone.trigger('<%= componentId %>-sport-show-average',{aniosExperiencia:<%= htmlEncode(x2)%>,numPublicaciones:<%= htmlEncode(x3)%>,fechaVinculacion:'<%= htmlEncode(x4)%>'   } ); return false;" >Ver Status</a></td>
		
                <td>
		<% if(showEdit) {%>
		<a onclick="Backbone.trigger('<%= componentId %>-profesor-edit',{id:<%= profesor.id %>}); return false" >Edit</a> |
		<% } %> 
		<% if(showDelete) {%>
		<a onclick="Backbone.trigger('<%= componentId %>-profesor-delete',{id:<%= profesor.id %>}); return false" >Delete</a> 
		<% } %>    
		</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="profesor">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-profesorForm">
    <% if(profesor.id) {%>
    <input type="hidden" name="id" value="<%= profesor.id %>"/ >
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= profesor.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="aniosExperiencia">Anios Experiencia</label>
    	<input type="text" class="form-control" id="aniosExperiencia" name="aniosExperiencia" placeholder="Enter value" value="<%= profesor.get('aniosExperiencia') %>"/>	
		</div>
		<div class="form-group" >
		<label for="numPublicaciones">Num Publicaciones</label>
    	<input type="text" class="form-control" id="numPublicaciones" name="numPublicaciones" placeholder="Enter value" value="<%= profesor.get('numPublicaciones') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaVinculacion">Fecha Vinculacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaVinculacion"  name="fechaVinculacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaVinculacion').datepicker({autoclose:true});
        	$('#fechaVinculacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= profesor.get('fechaVinculacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script> 

<script type ="text/template" id="profesorVinculationList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <table class="table striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Anios de vinculacion</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(profesors, function (p) {%>
                    <%var color = ""; %>
                    <%var nomb = p.getDisplay('name'); %>
                    <%var yrs = p.getDisplay('aniosVinculacion');%>
                    <%if(yrs==5 || yrs==10 || yrs==20 || yrs==35){%>
                        <%color="success";%>
                    <%}%>
                    <tr class="<%=color%>">
                        <td> <%= htmlEncode(nomb)%></td>
                        <td> <%= htmlEncode(yrs)%></td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </div>
</script>